/**
 * Copyright Victor Berchet
 *
 * This file is part of VisuGps3
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 */

{namespace vgps3.chart.templates}

/**
 */
{template .sliderTitle}
  <h1>VisuGps&nbsp;<i class="fa fa-question-circle"></i></h1>
{/template}